@keyframes turn {
    0% {opacity:0; transform: rotate(0deg);}
    25% {opacity:1; transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {opacity:1; transform: rotate(270deg);}
    100% {opacity:0; transform: rotate(360deg);}
}

body{
    margin: 50px;
    font-size: 25px;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #e8e4e1;
}

h1 {
  margin: 30px;
  font-family: 'calibri', serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #e23e57;
}

p {
  font-size: 4rem;
  color: #2d4059;
}

img {
  margin: 50px;
  width: 80%;
}

.form-control{
  height: 30px;
  width: 200px;
  margin: 0 auto;
  display: inline;
  margin: 5px;
}

.dice
{
  margin: 20px;
  font-size: 30px;
}
